<p id="notice"><%= notice %></p>

<p>
  <strong>Q1:</strong>
  <%= @response_su.Q1 %>
</p>

<p>
  <strong>Q2:</strong>
  <%= @response_su.Q2 %>
</p>

<p>
  <strong>Q3:</strong>
  <%= @response_su.Q3 %>
</p>

<p>
  <strong>Q4:</strong>
  <%= @response_su.Q4 %>
</p>

<p>
  <strong>Q5:</strong>
  <%= @response_su.Q5 %>
</p>

<p>
  <strong>Q6:</strong>
  <%= @response_su.Q6 %>
</p>

<p>
  <strong>Q7:</strong>
  <%= @response_su.Q7 %>
</p>

<p>
  <strong>Q8:</strong>
  <%= @response_su.Q8 %>
</p>

<p>
  <strong>Q9:</strong>
  <%= @response_su.Q9 %>
</p>

<p>
  <strong>Q10:</strong>
  <%= @response_su.Q10 %>
</p>

<p>
  <strong>Respondent:</strong>
  <%= @response_su.respondent_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @response_su.project %>
</p>

<%= link_to 'Edit', edit_response_su_path(@response_su) %> |
<%= link_to 'Back', response_sus_path %>
