<nav class="bc">
  <div class="ui large breadcrumb container">
    <a class="section" href="<%= root_path %>"><%= wlu_tools_name %></a>
    <i class="right chevron icon divider"></i>
    <h1 class="active section">Admin</h1>
  </div>
</nav>

<%= flash_messages %>

<div class="ui container">
  <div class="ui pointing secondary menu">
    <a class="item active" data-tab="overview">Aperçu</a>
    <a class="item"  data-tab="details">Détails</a>
  </div>
  <div class="ui tab active" data-tab="overview">
    <div class="ui segment">
      <div class="ui statistics">
        <div class="statistic">
          <div class="label">
            <%= "Utilisateur".pluralize(@count[:users]) %>
          </div>
          <div class="value">
            <%= @count[:users] %>
          </div>
        </div>
        <div class="statistic">
          <div class="label">
            <%= "Projet".pluralize(@count[:projects]) %>
          </div>
          <div class="value">
            <%= @count[:projects] %>
          </div>
        </div>
        <div class="statistic">
          <div class="label">
            <%= "Réponse".pluralize(@count[:responses]) %>
          </div>
          <div class="value">
            <%= @count[:responses] %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui tab" data-tab="details">
    <h2 class="ui header">Connexions récentes</h2>
    <table class="ui table">
      <thead>
        <tr>
          <th width="25%">E-mail</th>
          <th>Dernière connexion</th>
          <th>Date de création</th>
          <th>Projets</th>
        </tr>
      </thead>
      <tbody>
        <% @users[:active].reverse.each do |user| %>
        <tr>
          <td width="25%"><%= user.email %></td>
          <td><%= l user.current_sign_in_at, format: :long %></td>
          <td><%= l user.created_at, format: :long %></td>
          <td><%= user.projects.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <h2 class="ui header">Nouveaux comptes</h2>
    <table class="ui table">
      <thead>
        <tr>
          <th width="25%">E-mail</th>
          <th>Dernière connexion</th>
          <th>Date de création</th>
          <th>Projets</th>
        </tr>
      </thead>
      <tbody>
        <% @users[:new].reverse.each do |user| %>
        <tr>
          <td width="25%"><%= user.email %></td>
          <td><%= l user.current_sign_in_at, format: :long %></td>
          <td><%= l user.created_at, format: :long %></td>
          <td><%= user.projects.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <h2 class="ui header">Nouveaux projets</h2>
    <table class="ui table">
      <thead>
        <tr>
          <th>Identifiant du projet</th>
          <th>Type de produit</th>
          <th>Questionnaire UX</th>
          <th>Date de création</th>
          <th>Réponses</th>
        </tr>
      </thead>
      <tbody>
        <% @projects[:new].reverse.each do |project| %>
        <tr>
          <td><%= project.product_name %> - <%= project.project_code %></td>
          <td><%= project.product_type %></td>
          <td><%= project.questionnaire_id %> (<%= project.questionnaire_language %>)</td>
          <td><%= l project.created_at, format: :long %></td>
          <td><%= project.responses.count %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
