<nav class="bc">
  <div class="ui large breadcrumb container">
    <a class="section" href="<%= root_path %>"><%= wlu_tools_name %></a>
    <i class="right chevron icon divider"></i>
    <a href="<%= admin_path %>" class="section">Admin</a>
    <i class="right chevron icon divider"></i>
    <h1 class="active section"><%= @project.product_name %> - <%= @project.project_code %></h1>
  </div>
</nav>

<%= flash_messages %>

<div class="ui container">
  <div class="ui pointing secondary menu">
    <a class="item <%= "active" unless @project.has_responses? %>" data-tab="description">Description</a>
    <a class="item <%= "active" if @project.has_responses? %>" data-tab="results">Résultats</a>
  </div>
  <div class="ui tab <%= "active" unless @project.has_responses? %>" data-tab="description">

    <table class="ui very basic table">
      <tbody>
        <tr>
          <td width="20%" nowrap>Questionnaire :</td>
          <td><%= @project.questionnaire_id %> (<%= @project.questionnaire_language %>)</td>
        </tr>
        <tr>
          <td nowrap>Type de produit :</td>
          <td><%= @project.product_type %></td>
        </tr>
        <tr>
          <td nowrap>Date de fin de l'évaluation :</td>
          <td><%= l @project.end_date, format: :long unless @project.end_date.nil? %></td>
        </tr>
        <tr>
          <td nowrap>Lien public pour répondre :</td>
          <td><%= link_to project_public_respond_url(@project.uri_token), project_public_respond_path(@project.uri_token) %>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="ui tab <%= "active" if @project.has_responses? %>" data-tab="results">
    <%= render 'projects' + File::SEPARATOR + 'results' + File::SEPARATOR + @project.questionnaire_id_clean, project: @project %>

    <a href="<%= url_for admin_project_path(@project, format: "xlsx") %>" class="ui button <%= 'disabled' if !@project.has_responses? %>">Télécharger les données brutes (.xlsx)</a>

  </div>

</div>
