<div class="ui container <%= "navigable-tabs" if @project.ask_open_ended_questions || @project.ask_respondent_qualification %>">

  <div class="ui segment">
    <% if @project.ask_open_ended_questions || @project.ask_respondent_qualification %>
        <div class="ui top right attached small step-counter label">Étape <span class="current-step"></span>/<span class="total-steps"></span></div>
    <% end %>
    <h2><%= t('.title') + ' "' + @project.product_name + '"' %></h2>
    <%= form_for(response, :html => {:class => "ui form sus", :data => { :formtype => "response_su" }}) do |f| %>
    <%
      #
      # Quick fix to avoid unexpected changes for already running studies
      #
      sus_product_type = @project.sus_product_type[I18n.locale]
      if @project.created_at < @app_updates[:sus_dynamic_instructions_installed_at]
        sus_product_type = @project.sus_default_product_type[I18n.locale]
      end
    %>
    <div class="ui active huge-radio tab" data-tab="main-form">
  		<table class="ui selectable very basic large table">
  		  <tbody>
          <tr class="header">
  		      <td>&nbsp;</td>
  		      <td class="right aligned"><%= t('.likert_disagree') %></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><%= t('.likert_agree') %></td>
          </tr>
  		    <tr class="field">
  		      <td><%= ResponseSu::Q1_label[I18n.locale].sub('@product_type', sus_product_type) %></td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q1]" value="0"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q1]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q1]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q1]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q1]" value="4"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td><%= ResponseSu::Q2_label[I18n.locale].sub('@product_type', sus_product_type) %></td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q2]" value="4"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q2]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q2]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q2]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q2]" value="0"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td><%= ResponseSu::Q3_label[I18n.locale].sub('@product_type', sus_product_type) %></td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q3]" value="0"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q3]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q3]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q3]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q3]" value="4"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td><%= ResponseSu::Q4_label[I18n.locale].sub('@product_type', sus_product_type) %></td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q4]" value="4"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q4]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q4]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q4]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q4]" value="0"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td><%= ResponseSu::Q5_label[I18n.locale].sub('@product_type', sus_product_type) %></td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q5]" value="0"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q5]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q5]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q5]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q5]" value="4"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td><%= ResponseSu::Q6_label[I18n.locale].sub('@product_type', sus_product_type) %></td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q6]" value="4"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q6]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q6]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q6]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q6]" value="0"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td><%= ResponseSu::Q7_label[I18n.locale].sub('@product_type', sus_product_type) %></td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q7]" value="0"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q7]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q7]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q7]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q7]" value="4"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td><%= ResponseSu::Q8_label[I18n.locale].sub('@product_type', sus_product_type) %></td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q8]" value="4"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q8]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q8]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q8]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q8]" value="0"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td><%= ResponseSu::Q9_label[I18n.locale].sub('@product_type', sus_product_type) %></td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q9]" value="0"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q9]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q9]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q9]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q9]" value="4"><label></label></div>
            </td>
  		    </tr>
          <tr class="field">
  		      <td><%= ResponseSu::Q10_label[I18n.locale].sub('@product_type', sus_product_type) %></td>
            <td nowrap class="middle aligned right aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q10]" value="4"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q10]" value="3"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q10]" value="2"><label></label></div>
            </td>
            <td nowrap class="middle aligned center aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q10]" value="1"><label></label></div>
            </td>
            <td nowrap class="middle aligned left aligned">
              <div class="ui fitted radio checkbox"><input type="radio" name="response_su[Q10]" value="0"><label></label></div>
            </td>
  		    </tr>
        </tbody>
      </table>

      <div class="ui right aligned container">
        <% if @project.ask_open_ended_questions %>
        <div class="ui large button to-open-ended-questions">Suivant</div>
        <% elsif @project.ask_respondent_qualification %>
        <div class="ui large button to-respondent-qualification">Suivant</div>
        <% else %>
        <%= f.submit t(".submit"), :class => "ui large submit button" %>
        <% end %>
      </div>

    </div>

    <%= render 'projects' + File::SEPARATOR + 'questionnaires' + File::SEPARATOR + 'user_ideas', project: @project, f: f %>
    <%= render 'projects' + File::SEPARATOR + 'questionnaires' + File::SEPARATOR + 'user_qualification', project: @project, f: f %>

    <input type="hidden" name="uri_token" value="<%= @project.uri_token %>">
    <input type="hidden" name="response_su[f]" value="">
    <% end %>
  </div>
</div>
