<%= form_error_messages_for(project) %>

<div class="ui container">
<%= form_for(project, :html => {:class => "ui large form evaluation-project"}) do |f| %>
  <div class="ui stacked segment grid">
    <% if params[:action] === 'edit' %>
    <div class="ui black ribbon label">Modification</div>
    <div class="row no-padding field"></div>
    <% end %>

    <div class="row no-padding field">
      <div class="five wide column"><%= f.label :questionnaire_id, 'Questionnaire :' %></div>
      <div class="eleven wide column">
        <% if project.has_responses? %>
        <%= f.select :questionnaire_id, Project.questionnaireTypes, {}, :disabled => true %>
        <% else %>
        <%= f.select :questionnaire_id, Project.questionnaireTypes %>
        <% end %>
         - <a href="#" class="show_questionnaire_help_modal">Quelles différences ?</a>
         - <a href="#" class="show_questionnaire_references_modal">Références</a>
      </div>
    </div>

    <div class="row no-padding field">
      <div class="five wide column"><%= f.label :questionnaire_language, 'Langue du questionnaire :' %></div>
      <div class="eleven wide column">
        <% if project.has_responses? %>
        <%= f.select :questionnaire_language, Project.questionnaireLanguages, {}, :disabled => true %>
        <% else %>
        <%= f.select :questionnaire_language, Project.questionnaireLanguages %>
        <% end %>
      </div>
    </div>

    <div class="row no-padding field">
      <div class="five wide column"><%= f.label :product_type, 'Type de produit :' %></div>
      <div class="eleven wide column"><%= f.select :product_type, Project.productTypes %></div>
    </div>

    <div class="row no-padding field">
      <div class="five wide column"><%= f.label :product_name, 'Nom du produit ou service :' %></div>
      <div class="eleven wide column"><%= f.text_field :product_name, :placeholder => "Ex. 'Mon super produit'" %></div>
    </div>

    <div class="row no-padding field">
      <div class="five wide column"><%= f.label :project_code, 'Code du projet :' %></div>
      <div class="eleven wide column"><%= f.text_field :project_code, :placeholder => "Ex. 'Etude n°14'" %></div>
    </div>

    <div class="row no-padding field">
      <div class="five wide column"><%= f.label :end_date, "Date de fin de l'évaluation :" %></div>
      <div class="eleven wide column">
        <div class="ui date calendar">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input type="text" placeholder="Date" value="<%= project.end_date %>">
          </div>
        </div>
        <input type="hidden" name="project[end_date]" id="project_end_date" value="<%= project.end_date %>">
      </div>
    </div>

    <div class="row no-padding field">
      <div class="five wide column"></div>
      <div class="eleven wide column"><em>Tous les champs sont obligatoires</em></div>
    </div>

    <div class="row no-padding field">
      <div class="five wide column"></div>
      <div class="eleven wide column"><%= f.submit :class => "ui large submit button" %></div>
    </div>

  </div>
<% end %>
<% if params[:action] != 'new' %>
  <div class="ui stacked negative message grid">
    <div class="ui row field">
      <div class="sixteen wide column">
        <h2 class="ui header">Zone dangereuse</h2>
      </div>
    </div>

    <div class="ui row field">
      <div class="sixteen wide column">
        <p>Supprimer ce projet d'évaluation : toutes les données associées seront également supprimées. <br/><i class="icon warning sign"></i>Cette action est <strong>irréversible</strong>.</p>
      </div>
    </div>

    <div class="ui row no-padding field">
      <div class="five wide column"></div>
      <div class="eleven wide column">
        <%= link_to "Supprimer ce projet d'évaluation", project, method: :delete, :class => "ui red button", data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= render 'questionnaire_help_modal', project: @project %>

<%= render 'questionnaire_references_modal', project: @project %>
