<nav class="bc">
  <div class="ui large breadcrumb container">
    <a href="<%= new_project_path %>" class="ui right floated primary button">Nouvelle évaluation</a>
    <a class="section" href="<%= root_path %>">We Love Tools</a>
    <i class="right chevron icon divider"></i>
    <span class="active section">Questionnaires UX</span>
  </div>
</nav>

<div class="ui relaxed vertically divided grid container">
  <% @projects.each do |project| %>
  <a href="<%= url_for project %>" class="row">
    <div class="five wide column">
      <%= project.product_name %> - <%= project.project_code %>
    </div>
    <div class="five wide column">
      <%= project.questionnaire_id %> (<%= project.questionnaire_language %>)
    </div>
    <div class="three wide column">
      <%= project.product_type %>
    </div>
    <div class="three wide column">
      <%= l project.end_date, format: :short unless project.end_date.nil? %>
    </div>
  </a>
  <% end %>
</div>
