<a href="<%= url_for project_path(@project, format: "xlsx") %>" class="ui button <%= 'disabled' if !@project.has_responses? %>">Télécharger les données brutes (.xlsx)</a>

<table class="ui small compact celled table">
  <thead>
    <tr>
      <th>Répondant</th>
      <th><%= ResponseDeep::G1_label[I18n.locale].partition(" ").first %></th>
      <th><%= ResponseDeep::G2_label[I18n.locale].partition(" ").first %></th>
      <th><%= ResponseDeep::G3_label[I18n.locale].partition(" ").first %></th>
      <th><%= ResponseDeep::G4_label[I18n.locale].partition(" ").first %></th>
      <th><%= ResponseDeep::G5_label[I18n.locale].partition(" ").first %></th>
      <th><%= ResponseDeep::G6_label[I18n.locale].partition(" ").first %></th>
      <th>Date et heure (Paris)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%
      i = 0
      @project.responses.order("created_at asc").each do |response|
        i = i + 1
        scores = Stats::Deep::average_scores(response)
    %>
    <tr>
      <td><%= i %></td>
      <td><%= scores[:G1][:mean] %></td>
      <td><%= scores[:G2][:mean] %></td>
      <td><%= scores[:G3][:mean] %></td>
      <td><%= scores[:G4][:mean] %></td>
      <td><%= scores[:G5][:mean] %></td>
      <td><%= scores[:G6][:mean] %></td>
      <td><%= human_date_for(response.created_at) %></td>
      <td class="action"><%= link_to "Supprimer", response, method: :delete %></td>
    </tr>
    <% end %>
    <%
      @project.responses.only_deleted.order("created_at asc").each do |response|
        scores = Stats::Deep::average_scores(response)
    %>
    <tr class="deleted">
      <td>-</td>
      <td><%= scores[:G1][:mean] %></td>
      <td><%= scores[:G2][:mean] %></td>
      <td><%= scores[:G3][:mean] %></td>
      <td><%= scores[:G4][:mean] %></td>
      <td><%= scores[:G5][:mean] %></td>
      <td><%= scores[:G6][:mean] %></td>
      <td><%= human_date_for(response.created_at) %></td>
      <td class="action"><%= link_to "Récupérer", recover_response_deeps_url(response) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th>N = <%= @project.responses.count %></th>
      <th><%= @project.deep_scores[:G1][:mean] %> (σ = <%= @project.deep_scores[:G1][:sd] %>)</th>
      <th><%= @project.deep_scores[:G2][:mean] %> (σ = <%= @project.deep_scores[:G2][:sd] %>)</th>
      <th><%= @project.deep_scores[:G3][:mean] %> (σ = <%= @project.deep_scores[:G3][:sd] %>)</th>
      <th><%= @project.deep_scores[:G4][:mean] %> (σ = <%= @project.deep_scores[:G4][:sd] %>)</th>
      <th><%= @project.deep_scores[:G5][:mean] %> (σ = <%= @project.deep_scores[:G5][:sd] %>)</th>
      <th><%= @project.deep_scores[:G6][:mean] %> (σ = <%= @project.deep_scores[:G6][:sd] %>)</th>
      <th colspan="2"></th>
    </tr>
  </tfoot>
</table>
