<a href="<%= url_for project_path(@project, format: "xlsx") %>" class="ui button <%= 'disabled' if !@project.has_responses? %>">Télécharger les données brutes (.xlsx)</a>

<table class="ui small compact celled table">
  <thead>
    <tr>
      <th>Répondant</th>
      <th>Score</th>
      <th>Note</th>
      <th>Date et heure (Paris)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%
      i = 0
      @project.responses.order("created_at asc").each do |response|
        i = i + 1
        score = Stats::SUS::score(response)[:mean]
        grade = Stats::SUS::grade(score)
    %>
    <tr>
      <td><%= i %></td>
      <td><%= score %></td>
      <td><%= grade %></td>
      <td><%= human_date_for(response.created_at) %></td>
      <td class="action"><%= link_to "Supprimer", response, method: :delete %></td>
    </tr>
    <% end %>
    <%
      @project.responses.order("created_at asc").only_deleted.each do |response|
        score = Stats::SUS::score(response)[:mean]
        grade = Stats::SUS::grade(score)
    %>
    <tr class="deleted">
      <td>-</td>
      <td><%= score %></td>
      <td><%= grade %></td>
      <td><%= human_date_for(response.created_at) %></td>
      <td class="action"><%= link_to "Récupérer", recover_response_sus_url(response) %></td>
    </tr>
    <% end %>
  </tbody>
  <tfoot class="full-width">
    <tr>
      <th>N = <%= @project.responses.count %></th>
      <th><%= @project.sus_score[:mean] %> (σ = <%= @project.sus_score[:sd] %>)</th>
      <th><%= @project.sus_grade %></th>
      <th colspan="2"></th>
    </tr>
  </tfoot>
</table>
