<%= form_for(response_attrak_diff) do |f| %>
  <% if response_attrak_diff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(response_attrak_diff.errors.count, "error") %> prohibited this response_attrak_diff from being saved:</h2>

      <ul>
      <% response_attrak_diff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ATT1 %>
    <%= f.number_field :ATT1 %>
  </div>

  <div class="field">
    <%= f.label :ATT2 %>
    <%= f.number_field :ATT2 %>
  </div>

  <div class="field">
    <%= f.label :ATT3 %>
    <%= f.number_field :ATT3 %>
  </div>

  <div class="field">
    <%= f.label :ATT4 %>
    <%= f.number_field :ATT4 %>
  </div>

  <div class="field">
    <%= f.label :ATT5 %>
    <%= f.number_field :ATT5 %>
  </div>

  <div class="field">
    <%= f.label :ATT6 %>
    <%= f.number_field :ATT6 %>
  </div>

  <div class="field">
    <%= f.label :ATT7 %>
    <%= f.number_field :ATT7 %>
  </div>

  <div class="field">
    <%= f.label :QP1 %>
    <%= f.number_field :QP1 %>
  </div>

  <div class="field">
    <%= f.label :QP2 %>
    <%= f.number_field :QP2 %>
  </div>

  <div class="field">
    <%= f.label :QP3 %>
    <%= f.number_field :QP3 %>
  </div>

  <div class="field">
    <%= f.label :QP4 %>
    <%= f.number_field :QP4 %>
  </div>

  <div class="field">
    <%= f.label :QP5 %>
    <%= f.number_field :QP5 %>
  </div>

  <div class="field">
    <%= f.label :QP6 %>
    <%= f.number_field :QP6 %>
  </div>

  <div class="field">
    <%= f.label :QP7 %>
    <%= f.number_field :QP7 %>
  </div>

  <div class="field">
    <%= f.label :QHS1 %>
    <%= f.number_field :QHS1 %>
  </div>

  <div class="field">
    <%= f.label :QHS2 %>
    <%= f.number_field :QHS2 %>
  </div>

  <div class="field">
    <%= f.label :QHS3 %>
    <%= f.number_field :QHS3 %>
  </div>

  <div class="field">
    <%= f.label :QHS4 %>
    <%= f.number_field :QHS4 %>
  </div>

  <div class="field">
    <%= f.label :QHS5 %>
    <%= f.number_field :QHS5 %>
  </div>

  <div class="field">
    <%= f.label :QHS6 %>
    <%= f.number_field :QHS6 %>
  </div>

  <div class="field">
    <%= f.label :QHS7 %>
    <%= f.number_field :QHS7 %>
  </div>

  <div class="field">
    <%= f.label :QHI1 %>
    <%= f.number_field :QHI1 %>
  </div>

  <div class="field">
    <%= f.label :QHI2 %>
    <%= f.number_field :QHI2 %>
  </div>

  <div class="field">
    <%= f.label :QHI3 %>
    <%= f.number_field :QHI3 %>
  </div>

  <div class="field">
    <%= f.label :QHI4 %>
    <%= f.number_field :QHI4 %>
  </div>

  <div class="field">
    <%= f.label :QHI5 %>
    <%= f.number_field :QHI5 %>
  </div>

  <div class="field">
    <%= f.label :QHI6 %>
    <%= f.number_field :QHI6 %>
  </div>

  <div class="field">
    <%= f.label :QHI7 %>
    <%= f.number_field :QHI7 %>
  </div>

  <div class="field">
    <%= f.label :respondent_id %>
    <%= f.text_field :respondent_id %>
  </div>

  <div class="field">
    <%= f.label :project_id %>
    <%= f.text_field :project_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
