<p id="notice"><%= notice %></p>

<h1>Response Attrak Diffs</h1>

<table>
  <thead>
    <tr>
      <th>Att1</th>
      <th>Att2</th>
      <th>Att3</th>
      <th>Att4</th>
      <th>Att5</th>
      <th>Att6</th>
      <th>Att7</th>
      <th>Qp1</th>
      <th>Qp2</th>
      <th>Qp3</th>
      <th>Qp4</th>
      <th>Qp5</th>
      <th>Qp6</th>
      <th>Qp7</th>
      <th>Qhs1</th>
      <th>Qhs2</th>
      <th>Qhs3</th>
      <th>Qhs4</th>
      <th>Qhs5</th>
      <th>Qhs6</th>
      <th>Qhs7</th>
      <th>Qhi1</th>
      <th>Qhi2</th>
      <th>Qhi3</th>
      <th>Qhi4</th>
      <th>Qhi5</th>
      <th>Qhi6</th>
      <th>Qhi7</th>
      <th>Respondent</th>
      <th>Project</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @response_attrak_diffs.each do |response_attrak_diff| %>
      <tr>
        <td><%= response_attrak_diff.ATT1 %></td>
        <td><%= response_attrak_diff.ATT2 %></td>
        <td><%= response_attrak_diff.ATT3 %></td>
        <td><%= response_attrak_diff.ATT4 %></td>
        <td><%= response_attrak_diff.ATT5 %></td>
        <td><%= response_attrak_diff.ATT6 %></td>
        <td><%= response_attrak_diff.ATT7 %></td>
        <td><%= response_attrak_diff.QP1 %></td>
        <td><%= response_attrak_diff.QP2 %></td>
        <td><%= response_attrak_diff.QP3 %></td>
        <td><%= response_attrak_diff.QP4 %></td>
        <td><%= response_attrak_diff.QP5 %></td>
        <td><%= response_attrak_diff.QP6 %></td>
        <td><%= response_attrak_diff.QP7 %></td>
        <td><%= response_attrak_diff.QHS1 %></td>
        <td><%= response_attrak_diff.QHS2 %></td>
        <td><%= response_attrak_diff.QHS3 %></td>
        <td><%= response_attrak_diff.QHS4 %></td>
        <td><%= response_attrak_diff.QHS5 %></td>
        <td><%= response_attrak_diff.QHS6 %></td>
        <td><%= response_attrak_diff.QHS7 %></td>
        <td><%= response_attrak_diff.QHI1 %></td>
        <td><%= response_attrak_diff.QHI2 %></td>
        <td><%= response_attrak_diff.QHI3 %></td>
        <td><%= response_attrak_diff.QHI4 %></td>
        <td><%= response_attrak_diff.QHI5 %></td>
        <td><%= response_attrak_diff.QHI6 %></td>
        <td><%= response_attrak_diff.QHI7 %></td>
        <td><%= response_attrak_diff.respondent_id %></td>
        <td><%= response_attrak_diff.project %></td>
        <td><%= link_to 'Show', response_attrak_diff %></td>
        <td><%= link_to 'Edit', edit_response_attrak_diff_path(response_attrak_diff) %></td>
        <td><%= link_to 'Destroy', response_attrak_diff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Response Attrak Diff', new_response_attrak_diff_path %>
