<!DOCTYPE html>
<html>
  <head>
    <title>UxQuestionnaires</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="response <%= 'public' if not user_signed_in?%>">
    <% if user_signed_in? %>
    <div class="ui fixed main menu">
        <a href="<%= root_path %>" class="item"><img alt="We Love Users" src="<%= image_path('we-love-users-logo(small).png')%>"></a>
        <div class="ui simple dropdown right item">
          <i class="user icon"></i> <%= current_user.email %> <i class="dropdown icon"></i>
          <div class="menu">
            <% if Devise.mappings[:user].registerable? %>
            <div class="item">
              <%= link_to 'Mon compte', edit_user_registration_path %>
            </div>
            <% end %>
            <div class="item">
              <%= link_to "Déconnexion", destroy_user_session_path, method: :delete  %>
            </div>
          </div>
        </div>
    </div>
    <% end %>

    <div class="content">
      <%= flash_messages %>
      <%= yield %>
    </div>

    <div class="ui vertical footer segment">
      <div class="ui center aligned container">
        <p><img class="logo" src="<%= image_path('we-love-users-logo(small).png')%>"></p>
        <p>2106 © We Love Users</p>
      </div>
    </div>

  </body>
</html>
